.wrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100%;
.input-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 8;
.name{
  font-size: 30px;
  color: red;
  flex:3;
  margin: 10px;
}
  .earthquake-form{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    .form-group {
      margin-bottom: 20px;
    }
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333;
    }
    .form-group input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      color: #333;
      outline: none;
    }
    .form-group input:focus {
      border-color: #4CAF50;
    }
    .buttons {
      display: flex;
      gap: 10px;
    }
    
    .btn-submit {
      background-color: #4CAF50;
      color: white;
      margin-top: 10px;
      padding: 12px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      width: 40%;
    
      &:hover {
        background-color: #45a049;
      }
    }
    .btn-clear {
      background-color: #b12035;
      color: white;
      margin-top: 10px;
      padding: 12px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      width: 40%;
    
      &:hover {
        background-color: #b12035;
      }
    }
    
    
  }
  
.mapconatiner {
    width: 100%;
    height: 400px; 
    border: 2px ;
    flex: 2;
    margin: 10px;
  }
}
.output-wrap{
  flex: 2;
  .outputs{
  display: flex;
  align-items: center;
  justify-content: center;
  label{
    font-size: 30px;
    color: red;
   
  }
  p{
    font-size: 20px;
    font-weight: bold;
    color: green;
    padding: 15px 25px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;

  }
  }
}

}
